@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5% 95%;
}

header {
    grid-column: 2;
    display: grid;
    text-align: right;
    padding: 1% 1% 0 0;
}

header a {
  text-decoration: none;
  color: black;
}

nav {
    background-color: #467CF1;
    color: white;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 5% 5%;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin: 10px;
}